<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carlos Mario Torres Desarrollador backend</title>   
    <!--<link href="https://fonts.googleapis.com/css?family=Baskervville&display=swap" rel="stylesheet"> -->
</head>
<body>
    <main class="container">
        <div class="head_names">
            <div class="nombre"> 
                Carlos Mario Torres 
            </div>
    
            <div class="Logo-cv"> 
                <div id="logo-cv">CMT</div>
            </div>

            <div class="Logo-cv"> 
            
            </div> 
    
            <div class="profesion">
                Desarrollador  backend 
            </div>
        </div>
        
        <div class="descripcion">
            <div  class="presentacion" id="sobre-my">
                <div class="card">
                    <div class="card-body">
                        <h4 id="titulo-items"><strong>Sobre mí: Una breve descripción</strong></h4>
                        <p >
                            Hola! Mi nombre es Carlos Mario Torres, soy estudiante septimo semestre de Ingeniería de Sistemas, en la Universidad Abierta y a 
                            Distancia (UNAD).
                        </p>  
                        <p>
                            En este momento cuento un año experiencia laboral en área de IT, un título tecnológico en área de química
                            de la Universidad de Antioquia y experiencia laboral de aproximadamente 8 años en la industria química. 
                        </p> 
                        <p> 
                            Me defino como una persona autodidacta, dedicada y muy apasionado por los lenguajes de programación y desde el 2014 de forma personal
                            he trabajado en proyectos en lenguajes de programación como PHP, Python, JavaScript, C#, Java, Fortran, Matlab, Tcl/tk, VBA/Excel y SO Linux; 
                            Enfocado principalmente a desarrollar aplicaciones web principalmente en el micro-framework Flask escrito en python y en el último año
                            backend (ASP.NET Core) y frontend (Angular).
                        </p>    
                    </div>
                </div>    
            </div>
            <div class="img-profile">
                <img class="img-log" src="assets/img/perfil.jpg">
                <p>El futuro pertenece a quienes creen en sus sueños</p>
                <p>(Eleanor Roosevelt)</p>
            </div>
        </div>

        <div >  
        </div>  
            <nav class="Menu-proyectos" >
                <ul class="option-menu" >
                    <li ><a href="http://flask.tuxcarlostorres.com" class="menuitems">Flask</a></li>
                    <li ><a href="http://flask.tuxcarlostorres.com/blog/coordenadas/" class="menuitems">Javascript</a></li>
                    <li ><a (click)="VerCv()" class="menuitems">Mi perfil</a></li>
                </ul>
            </nav>
        
        <div class="titulo-proyectos">
            <hr class="bg-primary">
                Mis proyectos 
            <hr class="bg-primary">
        </div>

        <section class="vista-proyectos">
            <div class="show-project">
                <div class="items-proyectos">
                    <div class="card bg-dark text-white">
                        <div class="card-body" id="Flask">
                            <h2>Recopilación de proyectos Flask</h2>
                            <div class="text-center my-3" >
                                <img class="img-project" src="https://picsum.photos/250/300" >
                            </div>
                            
                            <div class="float-lateral">
                                <h4 class="titulo-items-app"><strong>Recopilación de proyectos en Python-Flask</strong></h4>
                                <p >
                                    Antiguo sitio web de presentación de proyectos personales.
                                </p>  
                                <p>
                                    En este sitio web se hace una presentación  de quien soy y se comparten algunos proyectos personales. 
                                </p> 
                                <div> 
                                    <ul>
                                        <li class="items-app">Aplicación Web lavado ecologíco.</li>
                                        <li class="items-app">Aplicación Web sopa de letras en ingles autogenerada.</li>
                                        <li class="items-app">Consumo de API geolocalización.</li>      
                                    </ul>
                                </div> 
                            </div>     
                            <div class="text-center">
                                <a class="btn btn-primary"  href="http://flask.tuxcarlostorres.com">Ver aplicación</a>
                            </div> 
                        </div>
                    </div>       
                </div> 
                <div class="items-proyectos">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h2>Aplicación Web E-Commerce</h2>
                            <div class="text-center my-3" >
                                <img class="img-project"  src="https://picsum.photos/250/300">
                            </div>
                            
                            <div class="float-lateral">
                                <h4 class="titulo-items-app"><strong>Aplicacion Web tienda virtual. </strong></h4>     
                                <p >
                                    Iniciativa familiar para venta de camisetas por internet. 
                                </p>  
                                <p>
                                    Esta es una simple aplicación Web tipo E-Commerce que permite.
                                </p> 
                                <div> 
                                    <ul>
                                        <li class="items-app">Ver lista de articulos.</li>
                                        <li class="items-app">Descripción de articulos.</li>
                                        <li class="items-app">Acerca de Nosotros.</li> 
                                        <li class="items-app">Publicidad.</li>          
                                    </ul>
                                </div>  
                                <div class="text-center">
                                    <a  class="btn btn-primary"  href="https://store.tuxcarlostorres.com/">Ver aplicación</a>
                                </div>       
                            </div>
                           
                        </div>
                    </div>    
                </div>
                <div class="items-proyectos">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h2>Aplicación Canvas Ordenamiento</h2>
                            <div class="text-center my-3" >
                                <img class="img-project"  src="https://picsum.photos/250/300">
                            </div>
                            
                            <div class="float-lateral">
                                <h4 class="titulo-items-app"><strong>Aplicación Canvas.</strong></h4>     
                                <p >
                                    Aplicación Canvas metodo de ordenamiento simulación. 
                                </p>  
                                <p>
                                    Esta es una simple aplicación crea una Canvas en el cual se simula el metodo ordenamiento burbuja.
                                </p> 
                                <div> 
                                    <ul>
                                        <li class="items-app">Ver lista de articulos.</li>
                                        <li class="items-app">Descripción de articulos.</li>
                                        <li class="items-app">Acerca de Nosotros.</li> 
                                        <li class="items-app">Publicidad.</li>          
                                    </ul>
                                </div>  
                                <div class="text-center">
                                    <a  class="btn btn-primary"  (click)="ViewGraps()">Ver aplicación</a>
                                </div>       
                            </div>
                           
                        </div>
                    </div>    
                </div>
            </div>  
        </section>
    </main>

    <footer class="footer">
        <div class="sociales">
            <a href="https://twitter.com/CarlosM06905817"><i class="fab fa-twitter-square bg-dark"></i></a>
            <a href="https://www.facebook.com/cmrestrepo1"><i class="fab fa-facebook bg-dark"></i></a>
            <a href="https://github.com/Redoxfox"><i class="fab fa-github-square bg-dark"></i></a>
            <a href="https://www.linkedin.com/in/carlos-torres-b2446629/"><i class="fab fa-linkedin bg-dark"></i></a>
        </div>
    </footer>

    <!--<script src="'js/sobre-my.js'" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b6bfe8df39.js" crossorigin="anonymous"></script>  -->     
</body>
</html>
